
	<div class='bold-line'></div>
	<div class='container'>
		<div class='window'>
			<div class='overlay'></div>
			<div class='content'>
				<div class='welcome'>Welcome User</div>
				<div class='subtitle'>Enjoy your day</div>	
			</div>
		</div>
	</div>